<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.ydsp.dal.mapper.YdMonitorInfoMapper">
  <resultMap id="BaseResultMap" type="com.yd.ydsp.dal.entity.YdMonitorInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shopid" jdbcType="VARCHAR" property="shopid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="oss_path" jdbcType="VARCHAR" property="ossPath" />
    <result column="init_image_url" jdbcType="VARCHAR" property="initImageUrl" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="device_serials" jdbcType="VARCHAR" property="deviceSerials" />
    <result column="device_serialnames" jdbcType="VARCHAR" property="deviceSerialnames" />
    <result column="shop_desc" jdbcType="VARCHAR" property="shopDesc" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="flag" jdbcType="BIGINT" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shopid, name, oss_path, init_image_url, tel, device_serials, device_serialnames, 
    shop_desc, status, feature, create_date, modify_date, flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yd_monitor_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByShopid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yd_monitor_info
    where shopid = #{shopid,jdbcType=BIGINT}
  </select>
  <select id="selectByShopidLowRow" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yd_monitor_info
    where shopid = #{shopid,jdbcType=BIGINT} FOR UPDATE;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yd_monitor_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yd.ydsp.dal.entity.YdMonitorInfo">
    insert into yd_monitor_info (id, shopid, name, 
      oss_path, init_image_url, tel, 
      device_serials, device_serialnames, shop_desc, 
      status, feature, create_date, 
      modify_date)
    values (nextval('seq_yd_monitor_info_id'), #{shopid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{ossPath,jdbcType=VARCHAR}, #{initImageUrl,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{deviceSerials,jdbcType=VARCHAR}, #{deviceSerialnames,jdbcType=VARCHAR}, #{shopDesc,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{feature,jdbcType=VARCHAR}, current_timestamp(0), current_timestamp(0))
  </insert>
  <insert id="insertSelective" parameterType="com.yd.ydsp.dal.entity.YdMonitorInfo">
    insert into yd_monitor_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopid != null">
        shopid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="ossPath != null">
        oss_path,
      </if>
      <if test="initImageUrl != null">
        init_image_url,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="deviceSerials != null">
        device_serials,
      </if>
      <if test="deviceSerialnames != null">
        device_serialnames,
      </if>
      <if test="shopDesc != null">
        shop_desc,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="feature != null">
        feature,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        nextval('seq_yd_monitor_info_id'),
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ossPath != null">
        #{ossPath,jdbcType=VARCHAR},
      </if>
      <if test="initImageUrl != null">
        #{initImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="deviceSerials != null">
        #{deviceSerials,jdbcType=VARCHAR},
      </if>
      <if test="deviceSerialnames != null">
        #{deviceSerialnames,jdbcType=VARCHAR},
      </if>
      <if test="shopDesc != null">
        #{shopDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="feature != null">
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        current_timestamp(0),
      </if>
      <if test="modifyDate != null">
        current_timestamp(0),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yd.ydsp.dal.entity.YdMonitorInfo">
    update yd_monitor_info
    <set>
      <if test="shopid != null">
        shopid = #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ossPath != null">
        oss_path = #{ossPath,jdbcType=VARCHAR},
      </if>
      <if test="initImageUrl != null">
        init_image_url = #{initImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="deviceSerials != null">
        device_serials = #{deviceSerials,jdbcType=VARCHAR},
      </if>
      <if test="deviceSerialnames != null">
        device_serialnames = #{deviceSerialnames,jdbcType=VARCHAR},
      </if>
      <if test="shopDesc != null">
        shop_desc = #{shopDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="feature != null">
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = current_timestamp(0),
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yd.ydsp.dal.entity.YdMonitorInfo">
    update yd_monitor_info
    set shopid = #{shopid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      oss_path = #{ossPath,jdbcType=VARCHAR},
      init_image_url = #{initImageUrl,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      device_serials = #{deviceSerials,jdbcType=VARCHAR},
      device_serialnames = #{deviceSerialnames,jdbcType=VARCHAR},
      shop_desc = #{shopDesc,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      feature = #{feature,jdbcType=VARCHAR},
      modify_date = current_timestamp(0)
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>